*,
*::before,
*::after {box-sizing: border-box;}
* {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
html
{
    line-height: 1.718;
}
body { 
   
    background-color: white;
    font-family: 'Roboto', sans-serif;
    display: grid;
    font-size: 1em;
    grid-template-rows: auto auto 1fr auto;
    grid-template-columns: 3fr 1fr;;
    grid-template-areas: 
        "header header"
        "nav nav"
        "main aside"
        "footer footer";     
}
/*Első sor*/
header {
    
    grid-area: header;
    display: grid;
    grid-template-columns: 1fr 3fr;
    background-color: white;
    color: black;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    padding-inline: 5rem;
    
}
header ul {
    display: flex;
    gap: 1em;
    justify-items: center;
    align-items: center;
    justify-self: end;
    list-style: none;
    text-transform: uppercase;


}
.navbar a {
    float: left;
    font-size: 1rem;
    color: black;
    text-align: center;
    text-decoration: none;
}
.dropdown {
    float: left;
    overflow: hidden;
}
.dropdown .dropbtn {
    font-size: 1rem;
    border: none;
    outline: none;
    color: black;
    padding: 0.9rem 1rem;
    background-color: inherit;
    
}
.navbar a:hover, .dropdown:hover .dropbtn {
    background-color: grey;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 10rem;
    z-index: 1;
}
.dropdown-content a {
    float: none;
    color: black;
    padding: 0.9rem 1rem;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover {
    background-color: #ddd;
}
.dropdown:hover .dropdown-content {
    display: block;
}
/*második sor*/
nav {
    min-height: 5rem;
    grid-area: nav;
    background-color: rgb(236, 62, 76);
    align-content: center;
    justify-content: center;
    padding-inline: 5rem;
    font-size: 1.5rem;
}
nav ul li {
    display: inline;
    color: white;
}
nav li a {
    color: white;
    text-decoration: none;    
}
/*képek*/
main {
    
    display: grid;
    grid-template-columns:repeat (auto-fit, minmax(250px, 1fr)) ;
    gap: 1em;
    grid-template-areas:
     "menu menu"
     "cards cards";}
    #menu {
        grid-area: menu;
        display: grid;
        padding: 2rem 1rem 0rem 5rem;   
       
        }
        #casual{
            font-size: 3rem;
            border-bottom: 5px solid;
            border-image-source: linear-gradient(90deg, #f12711 5%, #5c5c5c 5% );
            border-image-slice: 1;
            
        }
        
        #sorting  {
            justify-self: end;
            font-size: 1.5rem;
            margin: 1rem;
            background-color: white;
            color: gray;
            border: 1px solid gray;
            cursor: pointer;
            max-height: 3rem;
            max-width: fit-content;
        }
   
    .cards {
    position: relative;
        grid-area: cards;
        display: grid;
        grid-template-columns: auto auto auto;
        gap: 1em;
        padding: 2em 2em 3em 5em;
    }
    .container {
        display: flex;
        flex-direction: column;
    }

    .middle .image   {
        transition: .5s ease;
        
    }
    .middle {
        position: relative;
        background-color: red;
    }
     .btn {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            -ms-transform: translate(-50%, -50%);
            background-color: #f12711;
            color: white;
            padding: 1rem 3rem;
            border: 2px solid white;
            cursor: pointer;
            font-size: 1rem;  
            opacity: 0;;        
        }
    .container:hover .image{
        opacity: 0.6;
    }
      
    .container:hover .middle {
        opacity: 1;
    }
    .container:hover .btn {
        opacity: .6;
    }
    .product-info {
            position: relative;
            background-color: white;
            color: black;
            text-align: center;
            font-size: 1.3rem;
    
    }
    

aside {
    grid-area: aside;
    display: grid;
    grid-template-rows:repeat (auto-fit, minmax(250px, 1fr)) ;
    padding: 2em 5em 3em 2em;
   
}
#filterbyprice {
    font-size: 3rem;
    color: rgb(222, 9, 9);
    max-height: fit-content;
}
aside p {
    border-bottom: 5px solid;
            border-image-source: linear-gradient(90deg, #f12711 10%, #5c5c5c 10% );
            border-image-slice: 1;
    font-size: 3rem;
    color: black;
    text-align: start;

}
aside a {
    color: black;
    text-decoration: none;
}
    #slider {
        width: 100%;
        cursor: pointer;  
        accent-color: red  ;

    }
    #label {
        border: 1px solid #5c5c5c;
        font-size: 1rem;
        color: black;
        text-align: end;
    }
aside ul {
    justify-content: left;
    gap: 2rem;
    padding: 3em;
}
aside li {  
    font-size: 1.6rem;
    border-bottom: 1px solid rgb(101, 101, 101);
}
span {
    font-size: .8em;
}
#bt {
    display: flex;
    width: 100%;
    justify-content: space-between;
    opacity: 0.7;
    cursor: pointer;
    font-size: 1em;
}
aside button {
    background-color: #5d5d5d;
    color: rgb(0, 0, 0);
    width: min-content;
    padding: .5em 1em;
    align-content: center;
    justify-content: center;
    cursor: pointer;
    font-size: 1em;
}
aside #value {
    font-size: 1.5rem;
    color: rgb(7, 7, 7);
    justify-content: center;
    align-content: center;
    border: #100e1c 1px solid;
    padding: .2em 1em;
    margin-left: auto;
}
footer {
    grid-area: footer;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    background-color: #100e1c;
    color: white;
    
    
}
#social
 {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    justify-content: center;
    gap: 1em;
}
#kapcsolat {
    text-align: center;
    
}
#rolunk {
    text-align: center;
}
#top {
    position: fixed;
    bottom: 20px;
    right: 30px;
    z-index: 99;
    text-align: center;
    background-color: blanchedalmond;
}
@media screen and (max-width: 1600px) {
    body {
        display: grid;
        grid-template-rows: 6rem 10rem auto 0.5fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }
    
}
@media screen and (max-width: 1000px) {
    body {
        display: grid;
        grid-template-rows: 6rem 10rem auto 0.5fr;
        grid-template-columns: 1fr;
        grid-template-areas: 
            "header"
            "nav"
            "main"
            "aside"
            "footer";
    }}  
    @media screen and (max-width: 600px) {
        .main {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: auto minmax(300px, auto);
            grid-template-areas: 
                "menu"
                "cards"       
        }
        .image {
            width: 12px;
        }
    }
        @media screen and (max-width: 900px) {
            .cards {
                padding: 2em 2em 3em 2em;
                display: grid;
                grid-template-columns: auto;
                
                    
                    
            }}


        
       